<div class="about-container">
    <h2>Meet our Team:</h2>
  
    <div class="team-grid">

  <div class="team-grid">

    <div class="team-member-card">
      <img class="avatar" src="../../../assets/ethanFantlAvatar.png" alt='Ethan Fantls Avatar'>
      <h3>Ethan Fantl</h3>
      <p> I'm Ethan Fantl, I'm a senior here studying Computer Science so I'll be graduating this semester, I enjoy fermenting foods especially making my own ginger soda, reading, boardgames like DnD and learning new hobbies for a week and then never doing them again</p>
    </div>
    <div class="team-member-card">
      <img class="avatar" src="../../../assets/haydend1.jpg" alt="Picture of Hayden">
      <h3>Hayden Decker</h3>
      <p>I am Hayden Decker. I was raised in Colorado and am currently a junior studying 
        Computer Science at CSU. Some of my hobbies include basketball, cooking, drawing, 
        going to the gym, and playing games.</p>
    </div>
    <div class="team-member-card">
      <img class="avatar" src="../../../assets/ethanFantlAvatar.png" alt='Troy Land Avatar'>
      <h3>Troy Land</h3>
      <p> Howdy! I'm Troy, a Colorado native with a passion for writing. Art and its forms are a passion of mine, and that extends to websites. That's why I'm excited to wrok with this team going forward.</p>
    </div>

  </div>
</div>