<div class="about-container">
  <h2>This is the team</h2>

  <div class="team-grid">

    <div class="team-member-card">
      <img class="avatar" src="../../../assets/ethanFantlAvatar.png" alt='Ethan Fantls Avatar'>
      <h3>Ethan Fantl</h3>
      <p> I'm Ethan Fantl, I'm a senior here studying Computer Science so I'll be graduating this semester, I enjoy fermenting foods especially making my own ginger soda, reading, boardgames like DnD and learning new hobbies for a week and then never doing them again</p>
    </div>
    <div class="team-member-card">
      <img class="avatar" src="../../../assets/haydend1.jpg" alt="Picture of Hayden">
      <h3>Hayden Decker</h3>
      <p>I am Hayden Decker. I was raised in Colorado and am currently a junior studying 
        Computer Science at CSU. Some of my hobbies include basketball, cooking, drawing, 
        going to the gym, and playing games.</p>
    </div>

  </div>
</div>