#navbar {
    li {
        float: left;
    }
    li a:hover {
        background-color: #030303;
        color: white;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    a {
        display: block;
        text-align: center;
        font-family: inherit;
        font-size: inherit;
        padding: 10px;
        background-color: #FFBE46;
        border: 1px solid #FFC85A;
        color:white;
    }
    a:link {
        text-decoration: none;
    }
    image{
        width: 20px;
    }
}