header {
    background-color: #123458;
    color: #F1EFEC;
}

body {
    background-color: #123458;
    color: #F1EFEC;
    margin-left: 15px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th {
    background-color: black;
  }
  .row-header {
    background-color: black;
  }
  .Individualcell {
    background-color: white;
  }