<body>
<h2>Please enter the following information:</h2>

<div class="input-group">
  <label for="rowsInput">Rows:</label>
  <input type="number" id="rowsInput" #rowsInputElement step="1"/>
</div>


<div class="input-group">
    <label for="colsInput">Columns:</label>
    <input type="number" id="colsInput" #colsInputElement step="1"     />
</div>

<div class="input-group">
    <label for="colorsInput">Colors:</label>
    <input type="number" id="colorsInput" #colorsInputElement step="1"/>
</div>

<button type="button" (click)="generateTables(rowsInputElement.value, colsInputElement.value, colorsInputElement.value)">
    Generate Tables
</button>

<div *ngIf="showTables">
    <table style="width: 100%; border: 1px solid;">
        <tbody>
            <tr *ngFor="let row of colorTable; let i = index">
                <td style="width: 20%; border: 1px solid;">
                    <input
                        type="radio"
                        name="rowSelect"
                        [checked]="row.selected"
                        (change)="onSelectRow(i)"
                />
                <select #colorSelect (change)="onColorChange(i, colorSelect.value)">
                    <option *ngFor="let color of availableColors" [value]="color">{{ color }}</option>
                </select>

                </td>
                <td style="width: 80%; border: 1px solid;">
                    
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p *ngIf="showTables && colorTable.length === 0">Table is empty!</p>


<!-- TABLE  2 -->
<table *ngIf="showTables" class="table-2">
    <thead>
        <tr>
        <th></th> <!-- The empty one -->
        <th *ngFor="let AThroughZ of generateExcelArray(colsInputElement.value)">
          {{AThroughZ}}
        </th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let rowNumber of getRowNumbers(rowsInputElement.value)">
        <td class="row-header">{{rowNumber + 1}}</td>
        <td *ngFor="let colNumber of getColumnNumbers(colsInputElement.value)"
            class="Individualcell"
            (click)="createTableClickAnnouncement(rowNumber, colNumber)">
        </td>
        </tr>


    </tbody>
</table>



<hr/>
</body>